html {
  background: #ccc;
}

.container {
  background: #fff;
  width: 480px;
  height: 320px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  color: #444;
}
.container.off {
  opacity: 0.3;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}

button {
  border: none;
  background: none;
  padding: 0;
  color: #777;
}
button:hover {
  color: #000;
}

.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
.bar li {
  display: inline-block;
  font-size: 24px;
  margin-left: 10px;
}

.fa-power-off {
  float: left;
  font-size: 42px;
  color: #333;
}

.fa-exclamation-circle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 42px;
  color: #ccc;
}

.controls {
  width: 240px;
  height: 240px;
  margin: 39px auto 0;
  position: relative;
  border-radius: 50%;
  background: #eee;
  border: 1px solid #aaa;
}
.off .controls {
  opacity: 0.3;
}
.controls:before, .controls:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  border: 1px solid #fff;
  z-index: 0;
}
.controls:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.controls:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.controls .fa {
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 40px;
  text-align: center;
  line-height: 31px;
}
.controls .up, .controls .down {
  top: 5px;
  left: 50%;
  margin-left: -16px;
}
.controls .down {
  top: auto;
  bottom: 5px;
}
.controls .left, .controls .right {
  top: 50%;
  left: 5px;
  margin-top: -16px;
}
.controls .right {
  left: auto;
  right: 5px;
}
.controls .features {
  z-index: 10;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  margin-top: -70px;
  margin-left: -70px;
  border-radius: 50%;
  background: #fff;
}
.controls .features .current {
  display: block;
}
.controls .features li {
  font-size: 36px;
  position: relative;
  display: none;
  text-transform: uppercase;
}
.controls .features li.temprature {
  font-size: 48px;
}
.controls .features li:before {
  position: absolute;
  content: attr(data-title);
  font-size: 11px;
  text-transform: uppercase;
  top: 15px;
  line-height: 1.4;
  left: 0;
  right: 0;
  text-align: center;
}
.controls .features li .unit {
  position: absolute;
  font-size: .5em;
  top: -10px;
}
