section {
  font-family: 'Bungee inline';

}

.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}
body {}

span {
  font-size: 20px;
}
.current-temperature {
  font-size: 105px;
}

#temperature {
  font-size: 105px;
}

#ct {
  font-size: 20px;
}

#temperature-up {
  background-color: #217524;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius:50%;
    width: 50px;
    height: 50px;
}

#temperature-down {
  background-color: #a42f26;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius:50%;
    width: 50px;
    height: 50px;
}

#temperature-reset {
  background-color: #4f4c8b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#powersavingmode-on {
  background-color: #933668;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#powersavingmode-off {
  background-color: #b34747;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.power-saving {
  font-family: 'Bungee Inline';
  background-color: #ff3399;
    border: none;
    color: white;
    padding: 15px 169px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
